
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background: linear-gradient(to right, #2c3e50, #3498db); */
    background-image: url('./hospitalback.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 450px;
    padding: 20px;
}

.login-box {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    color: #333;
}

.hospital-name h1 {
    font-size: 22px;
    margin-bottom: 30px;
    color: #0463fa;
    text-align: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-group label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.input-group i {
    margin-right: 8px;
    color: #0463fa;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 14px;
}

button {
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #0463fa;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button i {
    margin-right: 8px;
}

button:hover {
    background-color: #034ed1;
}

.messages {
    margin-top: 10px;
    color: red;
    font-weight: bold;
    text-align: center;
}
