
 body {
    background-color: #f5f7fa;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

#main {
    width: 100%;
    max-width: 600px;
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

#honame {
    text-align: center;
    margin-bottom: 20px;
    color: #0463fa;
    font-size: 22px;
}

#honame i {
    margin-right: 8px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
    margin-bottom: 5px;
    font-weight: 500;
}

input, select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 14px;
}

button {
    background-color: #0463fa;
    color: white;
    padding: 12px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background-color: #034ed1;
}

.form-icon {
    margin-right: 8px;
    color: #0463fa;
}

.field-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.message {
    color: red;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;
}

.back{
    display: inline-block;
    margin: 20px auto;
    text-align: center;
    background-color: #ef476f;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
}
.back:hover{
    background-color: #d6336c;
}
